<section>
    <header>
        <h2>What's this all about?</h2>
    </header>
    <a href="/" class="image featured">
        <amp-img src="https://c2.staticflickr.com/4/3794/33640921721_d616b97154_o.png" layout="fixed" alt="" height="191" width="311"></amp-img>
    </a>
    <p>
        Kedai Kopi Siang Malam atau yang lebih sering dikenal dengan <strong>Kedai Kosim</strong> terletak di jantung kota Tulungagung, tepatnya di Jl. Wahid Hasyim No. 62 (Barat perempatan 555) Tulungagung. Kedai Kopi ini menyediakan berbagai macam varian kopi nusantara seperti kopi Toraja, Wamena, Sidikalang, Mandheling, Lampung, Kintamani dan sebagainya. Pecinta kopi, Penasaran? Kunjungi ke <strong>Kedai Kosim</strong>
    </p>
</section>