<section>
    <header>
        <h2>Kontak Kami</h2>
    </header>
    <ul class="social">
        <li><a class="icon fa-facebook" href="https://www.facebook.com/kedaikosim"><span class="label">Facebook</span></a></li>
        <li><a class="icon fa-twitter" href="https://www.twitter.com/kedaikosim"><span class="label">Twitter</span></a></li>
        <li><a class="icon fa-instagram" href="https://www.instagram.com/kedaikosim"><span class="label">Dribbble</span></a></li>
    </ul>
    <ul class="contact">
        <li>
            <h3>Address</h3>
            <p>
                Jl. Wahid Hasyim No. 62
                <br /> (Barat perempatan 555)
                <br /> Tulungagung
            </p>
        </li>
        <li>
            <h3>Mail</h3>
            <p><a href="mailto:cs@kedaikosim.com">cs@kedaikosim.com</a></p>
        </li>
        <li>
            <h3>Phone</h3>
            <p>(+62) 000-0000</p>
        </li>
    </ul>
</section>