<section>
    <header>
        <h2>Kontak Kami</h2>
    </header>
    <ul class="social">
        <li>
            <a href="https://www.facebook.com/kedaikosim">
                <amp-img src="assets/img/facebook.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com/kedaikosim">
                <amp-img src="assets/img/twitter.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/kedaikosim">
                <amp-img src="assets/img/instagram.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
        <li>
            <a href="https://goo.gl/mhR6VB">
                <amp-img src="assets/img/whatsapp.svg" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
        </li>
    </ul>
    <ul class="contact">
        <li>
            <h3>Address</h3>
            <p>
                Jl. Wahid Hasyim No. 62
                <br /> (Barat perempatan 555)
                <br /> Tulungagung
            </p>
        </li>
        <li>
            <h3>Phone</h3>
            <p><a href="tel:628113600189">0811 3600 189</p>
        </li>
        <li>
            <h3>SMS</h3>
            <p><a href="sms:628113600189">0811 3600 189</p>
        </li>
    </ul>
</section>