<div id="header-slider">
    <amp-carousel width="700" height="280" layout="responsive" noloading type="slides" controls autoplay loop delay="3000">
        <div>
            <amp-img src="https://s-ecom.ottenstatic.com/original/5a026e99c9c61138284863.jpg" 
            layout="responsive"
            height="280"
            width="700"></amp-img>
        </div>
        <div>
            <amp-img src="https://s-ecom.ottenstatic.com/original/5a026f121b0b3626880076.jpg" 
            layout="responsive"
            height="280"
            width="700"></amp-img>
        </div>
        <div>
            <amp-img src="https://s-ecom.ottenstatic.com/original/5a026d822dcca225341258.jpg" 
            layout="responsive"
            height="280"
            width="700"></amp-img>
        </div>
    </amp-carousel>
</div>