<div id="header-logo">
    <div id="header">
        <!-- Logo -->
        <h1><a href="index.html"></a></h1>
    </div>
    <ul class="social-logo">
        <div class="row">
            <li>
                <a href="https://www.facebook.com/kedaikosim">
                    <amp-img src="assets/img/facebook.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                </a>
            </li>
            <li>
                <a href="https://www.twitter.com/kedaikosim">
                    <amp-img src="assets/img/twitter.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/kedaikosim">
                    <amp-img src="assets/img/instagram.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                </a>
            </li>
            <li>
                <a href="https://goo.gl/mhR6VB">
                    <amp-img src="assets/img/whatsapp.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                </a>
            </li>
        </div>
    </ul>
</div>