<nav>
    <ul>
        <li>&#9776;
            <ul>
                <li>
                    <amp-img src="https://c2.staticflickr.com/4/3794/33640921721_d616b97154_o.png" layout="responsive" height="280" width="450"></amp-img>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Jadwal Acara</a></li>
                <li><a href="/">Video</a></li>
                <li><a href="/">Contact Us</a></li>
                <li><a href="/">About Us</a></li>
            </ul>
        </li>
    </ul>
    <div id="closemenu">&#215;</div>
</nav>