<nav>
    <ul>
        <li>&#9776;
            <ul>
                <li><a href="/"><amp-img src="{{ site.image-logo-2 }}" layout="fixed" height="118" width="201"></amp-img></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/event">Jadwal Acara</a></li>
                <li><a href="/vlog">Video</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/kedaikosim">
                                <amp-img src="assets/img/facebook.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/kedaikosim">
                                <amp-img src="assets/img/twitter.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kedaikosim">
                                <amp-img src="assets/img/instagram.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                        <li>
                            <a href="https://goo.gl/mhR6VB">
                                <amp-img src="assets/img/whatsapp.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div id="closemenu">&#215;</div>
</nav>