<div id="header-wrapper">
    <div id="header">
        <section id="intro" class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <section class="first">
                        <a href="index.html">
                            <amp-img src="https://c2.staticflickr.com/4/3794/33640921721_d616b97154_o.png" alt="" height="260" width="367" layout="responsive"></amp-img>
                        </a>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="middle">
                        <a href="index.html">
                            <amp-img src="https://c2.staticflickr.com/4/3794/33640921721_d616b97154_o.png" alt="" height="260" width="367" layout="responsive"></amp-img>
                        </a>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="last">
                        <a href="index.html">
                            <amp-img src="https://c2.staticflickr.com/4/3794/33640921721_d616b97154_o.png" alt="" height="260" width="367" layout="responsive"></amp-img>
                        </a>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>