<div id="header-wrapper">
    <div id="header">
        <section id="intro" class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <section class="first">
                        <a href="/">
                            <amp-img src="{{ site.image-logo-1 }}" alt="" height="80" width="80" layout="fixed"></amp-img>
                        </a>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="middle">
                        <a href="/">
                            <amp-img src="assets/img/kedaikosimfontbakery.png" alt="" height="48" width="199" layout="fixed"></amp-img>
                        </a>
                    </section>
                </div>
                <div class="4u 12u(mobile)">
                    <section class="last">
                        <div class="row">
                            <li>
                                <a href="https://www.facebook.com/kedaikosim">
                                    <amp-img src="assets/img/facebook.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com/kedaikosim">
                                    <amp-img src="assets/img/twitter.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/kedaikosim">
                                    <amp-img src="assets/img/instagram.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                                </a>
                            </li>
                            <li>
                                <a href="https://goo.gl/mhR6VB">
                                    <amp-img src="assets/img/whatsapp.svg" alt="" height="25" width="25" layout="fixed"></amp-img>
                                </a>
                            </li>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>