<header class="major">
    <h2></h2>
</header>
<div class="row">
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/dropship" class="image featured">
                <amp-img src="{{ page.gambar-dropship }}" alt="" height="{{ page.height-dropship }}" width="{{ page.width-dropship }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-dropship }}</h3>
            </header>
            <p>{{ page.deskripsi-dropship }}</p>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/kemitraan" class="image featured">
                <amp-img src="{{ page.gambar-kemitraan }}" alt="" height="{{ page.height-kemitraan }}" width="{{ page.width-kemitraan }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-kemitraan }}</h3>
            </header>
            <p>{{ page.deskripsi-kemitraan }}</p>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/merchandise" class="image featured">
                <amp-img src="{{ page.gambar-merchandise }}" alt="" height="{{ page.height-merchandise }}" width="{{ page.width-merchandise }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-merchandise }}</h3>
            </header>
            <p>{{ page.deskripsi-merchandise }}</p>
        </section>
    </div>
</div>