<div class="row">
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/kopi" class="image featured">
                <amp-img src="{{ page.gambar-kopi }}" alt="{{ page.title-kopi }}" height="{{ page.height-kopi }}" width="{{ page.width-kopi }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-kopi }}</h3>
            </header>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/teh" class="image featured">
                <amp-img src="{{ page.gambar-teh }}" alt="{{ page.title-teh }}" height="{{ page.height-teh }}" width="{{ page.width-teh }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-teh }}</h3>
            </header>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="/coklat" class="image featured">
                <amp-img src="{{ page.gambar-coklat }}" alt="{{ page.title-coklat }}" height="{{ page.height-coklat }}" width="{{ page.width-coklat }}" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>{{ page.title-coklat }}</h3>
            </header>
        </section>
    </div>
</div>