<header class="major">
    <h2></h2>
</header>
<div class="row">
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="assets/img/credit-card-56a1df095f9b58b7d0c40427.png" alt="" height="260" width="366" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Dropship</h3>
            </header>
            <p>Dropship adalah sebuah metode jual beli online di mana penjual tidak melakukan stok barang ataupun proses pengiriman.</p>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="https://images.unsplash.com/photo-1493689485253-f07fcbfc731b?auto=format&fit=crop&w=733&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Kemitraan</h3>
            </header>
            <p>Kemitraan adalah suatu strategi bisnis yang dilakukan oleh dua pihak atau lebih dalam jangka waktu tertentu untuk meraih manfaat bersama maupun keuntungan bersama sesuai prinsip saling membutuhkan dan saling mengisi sesuai kesepakatan yang muncul.</p>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="assets/img/merchandise-1.jpg" alt="" height="260" width="366" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Merchandise</h3>
            </header>
            <p>Merchandise adalah segala bentuk produk yang ditujukan sebagai hadiah.</p>
        </section>
    </div>
</div>