<div class="row">
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="https://images.unsplash.com/photo-1459755486867-b55449bb39ff?auto=format&fit=crop&w=1498&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="" height="260" width="366" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Kopi</h3>
            </header>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="https://images.unsplash.com/photo-1507979791009-a8b32dc34288?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="" height="260" width="367" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Tea</h3>
            </header>
        </section>
    </div>
    <div class="4u 12u(mobile)">
        <section class="box">
            <a href="#" class="image featured">
                <amp-img src="https://images.unsplash.com/photo-1492203888859-e57aced099e3?auto=format&fit=crop&w=750&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="" height="260" width="366" layout="responsive"></amp-img>
            </a>
            <header>
                <h3>Chocolate</h3>
            </header>
        </section>
    </div>
</div>