<section>
    <div class="row">
        {% for item in site.data-vlog limit:2 %}
        <div class="6u 12u(mobile)">
            <section class="box">
                <a href="#" class="image featured">
                    <div class="video">
                        <amp-youtube data-videoid="{{ item.data-videoid }}" layout="responsive" width="480" height="270">
                        </amp-youtube>
                    </div>
                </a>
                <header>
                    <h3>{{ item.judul }}</h3>
                </header>
                <p>{{ item.deskripsi }}</p>
            </section>
        </div>
        {% endfor %}
    </div>
</section>
