<section>
    <div class="row">
        <div class="6u 12u(mobile)">
            <section class="box">
                <a href="#" class="image featured">
                    <div class="video">
                        <amp-youtube data-videoid="IsclKZ_7MQk" layout="responsive" width="480" height="270">
                        </amp-youtube>
                    </div>
                </a>
                <header>
                    <h3>Magna tempus consequat lorem</h3>
                    <p>Posted 45 minutes ago</p>
                </header>
                <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
            </section>
        </div>
        <div class="6u 12u(mobile)">
            <section class="box">
                <a href="#" class="image featured">
                    <div class="video">
                        <amp-youtube data-videoid="tBGxjNrcDzU" layout="responsive" width="480" height="270">
                        </amp-youtube>
                    </div>
                </a>
                <header>
                    <h3>Aptent veroeros et aliquam</h3>
                    <p>Posted 45 minutes ago</p>
                </header>
                <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
            </section>
        </div>
    </div>
</section>