<!DOCTYPE html>
<html ⚡ lang="id">

<head>
    <title>{{ site.judul }} | {{ site.name }}</title>
    {% include meta.html %} {% include canonical.html %} {% include favicon.html %} {% include ampproject.html %} {% include amp-youtube.html %} {% include amp-carousel.html %} {% include amp-boilerplate.html %} {% include amp-custom.min.html %} {% include amp-analytics.html %}
</head>

<body class="homepage">
    {% include analytics.html %} {% include menu-nav.html %} {% include nav.html %}
    <div id="page-wrapper">
        {% include header-slider.html %}
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <section>
                            {% include portofolio-1.html %}
                            <div class="row">
                                <div class="12u">
                                    {% include portofolio-2.html %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        {% include vlog-index.html %}
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    <div class="11u 12u(mobile)">
                        {% include event-index.html %}
                    </div>
                </div>
                <div class="row">
                    <div class="8u 12u(mobile)">
                        {% include aboutus.html %}
                    </div>
                    <div class="4u 12u(mobile)">
                        {% include contact.html %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>