<!doctype html>
<html ⚡>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.judul }} | {{ site.name }}</title>
    {% include meta.html %} {% include canonical.html %} {% include favicon.html %} {% include viewport.html %} {% include ampproject.html %} {% include amp-boilerplate.html %} {% include amp-custom.min.html %}
</head>

<body class="homepage">
    {% include menu-nav.html %} {% include nav.html %}
    <div id="page-wrapper">
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <header class="major">
                            <h2>{{ page.title }}</h2>
                        </header>
                        <!-- Portfolio -->
                        <section>
                            {% include produk-{{ page.produk }}.html %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    <div class="11u 12u(mobile)">
                        {% include event-index.html %}
                    </div>
                </div>
                <div class="row">
                    <div class="8u 12u(mobile)">
                        {% include aboutus.html %}
                    </div>
                    <div class="4u 12u(mobile)">
                        {% include contact.html %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>